{%extends "restaurant_system/base.html"%}
{% block content %}

<div class="container-fluid jumbotron">
    <!-- <div class="col-md-10 offset-md-1 mt-5"> -->
        <div align="center">
            <h1 class="display-4">Welcome Restaurant System</h1>
            <p class="lead font-italic"></p>
            <hr class="my-4">
            <i>Place your order and enjoy our services</i>
        </div>
    <!-- </div> -->
</div>

<div class="container">
    <div class="row ">


    {% for meal in meals %}

        {%if user.id is not None%}
        
            <div class="col-lg-4 col-md-6 col-sm-12">

                <form method="POST" action="/orders/">
                    {% csrf_token %}

                    <!-- <div class="img-thumbnail"><img style="width:100%;"width="350" height="350" src="{{meal.meal_image.url}}" alt=""></div>
                    <div>{{meal.meal_name}}</div>
                    <div>{{meal.meal_price}}</div>
                    <div>{{meal.meal_availability_status}}</div> -->

                    
                    <div class="card ml-2" style="width: 18rem;">
                        <img class="card-img-top" src="{{meal.meal_image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{meal.meal_name}}</h5>
                            <p class="card-text">GHS {{meal.meal_price}} </p>
                            <!-- <a href="#" class="btn btn-primary">add to cart</a> -->
                  
                    <input type="hidden" name=user_id value={{user.id}}>
                    <input type="hidden" name=meal_id value={{meal.id}}>
                    
                    <input type="submit"  class="btn btn-danger" value="add to cart">
                </div>
                </div>

                </form>   
            </div>

        
        {% else %}
        
        
            <div class="col-lg-3 col-md-6 col-sm-12">

                <form method="GET" action="/accounts/login">
                    {% csrf_token %}

                    <div class="img-thumbnail"><img style="width:100%;" src="{{meal.meal_image.url}}" alt=""></div>
                    <div>{{meal.meal_name}}</div>
                    <div>{{meal.meal_price}}</div>
                    <div>{{meal.meal_availability_status}}</div>
                    
                

                    
                        <input type="submit"  class="danger"> + </input>
                    
                    
                </form>

            </div>

        {% endif %}


    {% endfor %}

    </div>
</div>


{% endblock content %}