{%extends "restaurant_system/base.html"%}
{% block content %}
<div class="container mt-2">


<div class="center-block">
<h3>Your cart</h3>


{% for order in meals %}

    {% for menu in order.menu.all %}
    <!-- <form action="/more_orders/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
         {{menu.meal_name}}
        </div>

        <div class="col-lg-2">
            {{order.qty}}
        </div>

        <div class="col-lg-2">
            {{menu.meal_price}}
        </div>

        <div class="col-lg-2">
            <a href="#" class="btn">-</a>
                <input name="mealname" type="hidden" value="{{menu.meal_name}}">    
                <input name="mealid" type="hidden" value="{{menu.id}}">  
                <input type="submit" name="plus" class="danger" value="+">
                        
        </div>
    </div>
</form> -->


<form action="/more_orders/" method="post">
    {% csrf_token %}

    <table class="table">
        
        <tbody>
        <tr>
            <td>{{menu.meal_name}}</td>
            <td>{{order.qty}}</td>
            <td>{{menu.meal_price}}</td>
            <td><div class="col-lg-2">
                <!-- <a href="#" class="btn">+</a> -->
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <a href="#" class="btn">-</a>
                    </div>
                    <input name="mealname" type="hidden" value="{{menu.meal_name}}">    
                    <input name="mealid" type="hidden" value="{{menu.id}}">  
                <!-- <input type="submit" name="minus" class="danger" value="-"> -->    
                <div class="col-lg-6 col-md-12">
                    <input type="submit" name="plus" class="btn btn-danger" value="+">
                </div>

                </div>
                
                            
            </div></td>
        </tr>
        </tbody>
    </table>
</form>

        
    {% endfor %}
{% endfor %}
<div>Total: {{ total_price }} Ghana cedis</div>




    <form action="/payment/" method="POST"> 
        <a class="flwpug_getpaid"
        data-PBFPubKey="FLWPUBK_TEST-8bc73442573e3715fa4e63e901511d04-X"
        data-txref="rave-123456"
        data-amount="{{total_price}}"
        data-customer_email="{{request.user.email}}"
        data-meta-flightID="APX0093GHK"
        data-currency="GHS" 
        data-pay_button_text="Pay Now"
        data-country="GH" 
        data-redirect_url="/"></a>
      
        <script type="text/javascript" src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
      </form>
      <br>
    <form action="/payment/" method="POST">
        <input name="mealname" type="hidden" value="{{menu.meal_name}}">
        <input name="mealid" type="hidden" value="{{menu.id}}" >
        <input class="btn btn-danger" type="submit" value="Pay Later">
    </form>
</div>
</div>


{{data}}
{% endblock content %}