{%extends "restaurant_system/base.html"%}
{% block content %}


{%if not data%}
    <div>Here is your bill, pay at the cachier</div>

{%elif data.data.data.status == 'successful' %}
    <div class="alert alert-{{message.tags}}" role="alert">
        Your payment was successful
    </div>

{% endif %}


{% for order in meals %}

    {% for menu in order.menu.all %}
    <form action="/more_orders/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
         {{menu.meal_name}}
        </div>

        <div class="col-lg-2">
            {{order.qty}}
        </div>

        <div class="col-lg-2">
            {{menu.meal_price}}
        </div>

        <div class="col-lg-2">
            <!-- <a href="#" class="btn">+</a> -->
            
            <input name="mealname" type="hidden" value="{{menu.meal_name}}">    
            <input name="mealid" type="hidden" value="{{menu.id}}">         
                           
        </div>
    </div>
</form>
        
    {% endfor %}
{% endfor %}
<div>Total: {{ total_price }} Ghana cedis</div>


{% endblock content %}
