{%extends "restaurant_system/base.html"%}
{% block content %}


{% for order in meals %}

    {% for menu in order.menu.all %}
    <form action="/more_orders/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
         {{menu.meal_name}}
        </div>

        <div class="col-lg-2">
            {{order.qty}}
        </div>

        <div class="col-lg-2">
            {{menu.meal_price}}
        </div>

        <div class="col-lg-2">
            <!-- <a href="#" class="btn">+</a> -->
            <a href="#" class="btn">-</a>
                <input name="mealname" type="hidden" value="{{menu.meal_name}}">    
                <input name="mealid" type="hidden" value="{{menu.id}}">         
                <input type="submit"  class="danger" value="+">
                        
        </div>
    </div>
</form>
        
    {% endfor %}
{% endfor %}
{% endblock content%}